body{
	font-size: 20px;
	font-family: Arvo;
	background: #2875E8;
	background: linear-gradient(to bottom right, #307EE8, #ffffff);
	background-size: 100%;
	background-attachment: fixed;
}
fieldset{
	width: 30em;
}